<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <a class="navbar-brand" href="/">

    <img src="https://www.clipartwiki.com/clipimg/full/7-75674_transparent-background-spaceship-clip-art-rocket-picto-startup.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav-link1" href="/vehicules/new">Publier une annonce</a>
      </li>

      <li class="nav-item dropdown">

        <% if user_signed_in? %>

          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://specials-images.forbesimg.com/imageserve/1166140893/960x0.jpg?fit=scale" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon compte", "/profile", class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else  %>
        <a class="nav-link nav-link1" href="/users/sign_in">Se connecter</a>
        <% end %>
      </li>

    </ul>
  </div>
</div>

