.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 40px;
}

.card-category-2 {
  background-size: cover;
  background-position: center;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: grayscale(1);
}

.card-product-infos {
  height: 180px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 10px;
  text-align: center;
}

.card-product-infos img {
  height: 120px;
  width: 120px;
  padding: 15px;
}

.card-product h3{
  font-size: 25px;
  margin: 0;
}

/////// CARD TRIP ////////

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  margin-right: 20px;
  height: 288px;
}

.card-trip > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding :10px 10px 5px;
}

.card-trip p {
  font-size: 12px;
  padding: 5px 10px 5px;
  margin-bottom: 0;
}


.card-trip .card-trip-infos {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.column-cards {
grid-template-columns: 1fr 1fr;
flex-grow: 1;
display: grid;
}

#map{
  display:block;
  height: 100vh;
  position: sticky;
  top: 0;
}

/////// CARD TRIP SHOW ////////

.card-trip-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-trip-show > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-trip-user-show {
  position: absolute;
  right: 1000px;
  top: 356px;
  width: 75px;
}

.card-trip-infos-show h2 {
  font-weight: bold;
  padding-bottom: 5px;
}

.card-trip-infos-show h3 {
  font-size: 1.25rem;
  padding-left: 40px;
  padding-bottom: 10px;
}


















