
#border-form {
  border-radius: 10px;
}

.form-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  margin-right: 20px;
  height: 325px;
}

.form-show h2 {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.5rem;
  margin-top: 20px;
}

.form-show .btn-flat {
  margin-left: 30px;
  margin-bottom: 20px;
}

.form-show .col-md-5 {
  padding-left: 25px;
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 30px;
}

.sticky-offset {
  top: 65px;
}

.form-actions {
  margin-left: 30px;
}

.bouton-de-merde {
  margin-top: 15px;
  margin-left: 30px;
}

.form-title {
  margin : 30px;
}
