.form-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

.form-show h2 {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

.form-show .btn-flat {
  margin-left: 40px;
  margin-bottom: 20px;
}

.form-show .col-md-5 {
  padding-left: 25px;
}

