.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content {
  text-align: left;
  background: #F4F4F4;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.mapboxgl-popup-content h2 {
  padding: 0;
  font-size: 1.25rem;
}

.mapboxgl-popup-content p {
  padding: 0;
  margin-bottom: 0rem;
}
